[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://luajit.org/git/luajit.git
[submodule "lib/dawn"]
	path = lib/dawn
	url = https://dawn.googlesource.com/dawn
